@import "../webapp/resources/fonts/Amadeus_Web-Bold/bold.css";
@import "../webapp/resources/fonts/Amadeus_Web-BoldItalic/bolditalic.css";
@import "../webapp/resources/fonts/Amadeus_Web-Italic/italic.css";
@import "../webapp/resources/fonts/Amadeus_Web-Regular/regular.css";
@import "../webapp/resources/fonts/Amadeus_Web-Thin/thin.css";
@import "../webapp/resources/fonts/Amadeus_Web-ThinItalic/thinitalic.css";
body {
	font-family: Verdana, sans-serif;
	color: #333333;
	background-color: #ffffff;
	font-size: 11px;
	line-height: 1.4;
}
h1,
h1.amadeus {
	font-size: 38px;
	font-weight: 400;
	font-family: amadeus;
	font-style: normal;
}
h2,
h2.amadeus {
	font-size: 28px;
	font-weight: 400;
	font-family: amadeus;
	font-style: normal;
}
h3,
h3.amadeus {
	font-size: 22px;
	font-weight: 400;
	font-family: amadeus;
	font-style: normal;
}
h4,
h4.amadeus {
	font-size: 19px;
	font-weight: 400;
	font-family: amadeus;
	font-style: normal;
}
h5,
h5.amadeus {
	font-size: 16px;
	font-weight: 400;
	font-family: amadeus;
	font-style: normal;
}
h6,
h6.amadeus {
	font-size: 14px;
	font-weight: 400;
	font-family: amadeus;
	font-style: normal;
}
h1.alternative {
	font-size: 32px;
	font-family: Verdana, sans-serif;
}
h2.alternative {
	font-size: 24px;
	font-family: Verdana, sans-serif;
}
h3.alternative {
	font-size: 19px;
	font-family: Verdana, sans-serif;
}
h4.alternative {
	font-size: 16px;
	font-family: Verdana, sans-serif;
}
h5.alternative {
	font-size: 14px;
	font-family: Verdana, sans-serif;
}
h6.alternative {
	font-size: 12px;
	font-family: Verdana, sans-serif;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
strong em {
	font-weight: bold;
	font-style: italic;
}
a {
	color: #005eb8;
	text-decoration: underline;
}
a:hover {
	color: #2676c3;
	text-decoration: none;
}
a[disabled] {
	pointer-events: none;
}
.tooltip {
	font-size: 11px;
}
.text-amadeus-blue {
	color: #005eb8;
}
.background-amadeus-blue {
	background-color: #005eb8;
}
.border-amadeus-blue {
	border-color: #005eb8;
}
.text-amadeus-blue-85 {
	color: #2676c3;
}
.background-amadeus-blue-85 {
	background-color: #2676c3;
}
.border-amadeus-blue-85 {
	border-color: #2676c3;
}
.text-amadeus-light-blue {
	color: #00a9e0;
}
.background-amadeus-light-blue {
	background-color: #00a9e0;
}
.border-amadeus-light-blue {
	border-color: #00a9e0;
}
.text-amadeus-white {
	color: #ffffff;
}
.background-amadeus-white {
	background-color: #ffffff;
}
.border-amadeus-white {
	border-color: #ffffff;
}
.text-amadeus-grey1 {
	color: #333333;
}
.background-amadeus-grey1 {
	background-color: #333333;
}
.border-amadeus-grey1 {
	border-color: #333333;
}
.text-amadeus-grey2 {
	color: #767676;
}
.background-amadeus-grey2 {
	background-color: #767676;
}
.border-amadeus-grey2 {
	border-color: #767676;
}
.text-amadeus-grey3 {
	color: #a6a6a8;
}
.background-amadeus-grey3 {
	background-color: #a6a6a8;
}
.border-amadeus-grey3 {
	border-color: #a6a6a8;
}
.text-amadeus-grey4 {
	color: #c7c9c7;
}
.background-amadeus-grey4 {
	background-color: #c7c9c7;
}
.border-amadeus-grey4 {
	border-color: #c7c9c7;
}
.text-amadeus-grey5 {
	color: #e5e5e5;
}
.background-amadeus-grey5 {
	background-color: #e5e5e5;
}
.border-amadeus-grey5 {
	border-color: #e5e5e5;
}
.text-amadeus-grey6 {
	color: #f7f7fa;
}
.background-amadeus-grey6 {
	background-color: #f7f7fa;
}
.border-amadeus-grey6 {
	border-color: #f7f7fa;
}
.text-amadeus-green {
	color: #309712;
}
.background-amadeus-green {
	background-color: #309712;
}
.border-amadeus-green {
	border-color: #309712;
}
.text-amadeus-orange {
	color: #ffb549;
}
.background-amadeus-orange {
	background-color: #ffb549;
}
.border-amadeus-orange {
	border-color: #ffb549;
}
.text-amadeus-cherry {
	color: #ce0058;
}
.background-amadeus-cherry {
	background-color: #ce0058;
}
.border-amadeus-cherry {
	border-color: #ce0058;
}
.text-amadeus-purple {
	color: #8246af;
}
.background-amadeus-purple {
	background-color: #8246af;
}
.border-amadeus-purple {
	border-color: #8246af;
}
.text-amadeus-dark-yellow {
	color: #d29f13;
}
.background-amadeus-dark-yellow {
	background-color: #d29f13;
}
.border-amadeus-dark-yellow {
	border-color: #d29f13;
}
.text-amadeus-secondary-blue {
	color: #6ad1e3;
}
.background-amadeus-secondary-blue {
	background-color: #6ad1e3;
}
.border-amadeus-secondary-blue {
	border-color: #6ad1e3;
}
.text-amadeus-secondary-orange {
	color: #e56a54;
}
.background-amadeus-secondary-orange {
	background-color: #e56a54;
}
.border-amadeus-secondary-orange {
	border-color: #e56a54;
}
.text-amadeus-violet {
	color: #c964cf;
}
.background-amadeus-violet {
	background-color: #c964cf;
}
.border-amadeus-violet {
	border-color: #c964cf;
}
.text-amadeus-yellow {
	color: #ffb549;
}
.background-amadeus-yellow {
	background-color: #ffb549;
}
.border-amadeus-yellow {
	border-color: #ffb549;
}
.text-amadeus-light-green {
	color: #a7e6d7;
}
.background-amadeus-light-green {
	background-color: #a7e6d7;
}
.border-amadeus-light-green {
	border-color: #a7e6d7;
}
.text-amadeus-light-orange {
	color: #ffa06a;
}
.background-amadeus-light-orange {
	background-color: #ffa06a;
}
.border-amadeus-light-orange {
	border-color: #ffa06a;
}
.text-amadeus-mauve {
	color: #ec86d0;
}
.background-amadeus-mauve {
	background-color: #ec86d0;
}
.border-amadeus-mauve {
	border-color: #ec86d0;
}
.text-amadeus-light-yellow {
	color: #fed141;
}
.background-amadeus-light-yellow {
	background-color: #fed141;
}
.border-amadeus-light-yellow {
	border-color: #fed141;
}
.label {
	font-size: 11px;
	height: 18px;
	line-height: 18px;
	font-weight: normal;
	padding: 0 10px;
	border-radius: 9px;
	display: inline-block;
}
.label.label-amadeus-blue {
	color: #d9e7f4;
	background-color: #005eb8;
}
.label.label-amadeus-light-blue {
	color: #003243;
	background-color: #00a9e0;
}
.label.label-amadeus-cherry {
	color: #fdf2f7;
	background-color: #ce0058;
}
.label.label-amadeus-purple {
	color: #f3edf7;
	background-color: #8246af;
}
.label.label-amadeus-dark-yellow {
	color: #3f2f06;
	background-color: #d29f13;
}
.label.label-amadeus-secondary-blue {
	color: #25494f;
	background-color: #6ad1e3;
}
.label.label-amadeus-orange {
	color: #2e1511;
	background-color: #ffb549;
}
.label.label-amadeus-violet {
	color: #281429;
	background-color: #c964cf;
}
.label.label-amadeus-yellow {
	color: #393f19;
	background-color: #ffb549;
}
.label.label-amadeus-light-green {
	color: #435c56;
	background-color: #a7e6d7;
}
.label.label-amadeus-light-orange {
	color: #593825;
	background-color: #ffa06a;
}
.label.label-amadeus-mauve {
	color: #46283e;
	background-color: #ec86d0;
}
.label.label-amadeus-light-yellow {
	color: #66541a;
	background-color: #fed141;
}
.btn {
	margin-left: 5px;
	margin-right: 5px;
	padding: 1px 9px;
	height: 30px;
	font-weight: 600;
}
.btn:active,
.btn.active {
	box-shadow: none;
}
.btn-default {
	color: #ffffff;
	background-color: #005eb8;
	border: 1px solid #005eb8;
}
.btn-default:focus,
.btn-default.focus {
	background-color: #2676c3;
	border: 1px solid #002f5c;
	color: #ffffff;
}
.btn-default:active,
.btn-default.active {
	background-color: #2676c3;
	border: 1px solid #ffffff;
	color: #ffffff;
}
.btn-default:hover {
	background-color: #2676c3;
	border: 1px solid #2676c3;
	color: #ffffff;
}
.btn-default.selected {
	color: #333333;
	background-color: #ffb549;
	border: 1px solid #ffb549;
}
.btn-default.selected:hover,
.btn-default.selected:active,
.btn-default.selected.active {
	background-color: #ffc064;
	border: 1px solid #ffc064;
}
.btn-default.selected:focus,
.btn-default.selected.focus {
	background-color: #ffc064;
	border: 1px solid #7f5a24;
}
.btn-secondary,
.btn-info {
	color: #005eb8;
	background-color: #e5e5e5;
	border: 1px solid #e5e5e5;
}
.btn-secondary:focus,
.btn-info:focus,
.btn-secondary.focus,
.btn-info.focus {
	border: 1px solid #acacac;
	padding: 1px 9px;
	color: #005eb8;
}
.btn-secondary:active,
.btn-info:active,
.btn-secondary.active,
.btn-info.active {
	color: #2676c3;
	border: 1px solid #ffffff;
	padding: 1px 9px;
}
.btn-secondary:hover,
.btn-info:hover {
	color: #005eb8;
	border: 1px solid #d9d9d9;
	background-color: #d9d9d9;
}
.btn-cta,
.btn-danger {
	color: #ffffff;
	background-color: #ce0058;
	border: 1px solid #ce0058;
}
.btn-cta:focus,
.btn-danger:focus,
.btn-cta.focus,
.btn-danger.focus {
	color: #ffffff;
	border: 1px solid #67002c;
}
.btn-cta:active,
.btn-danger:active,
.btn-cta.active,
.btn-danger.active {
	color: #ffffff;
	background-color: #d52671;
	border: 1px solid #ffffff;
}
.btn-cta:hover,
.btn-danger:hover {
	color: #ffffff;
	background-color: #d52671;
	border: 1px solid #d52671;
}
.btn.btn-sm {
	padding: 1px 9px;
	height: 24px;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	color: #a6a6a8 !important;
	background-color: #e5e5e5 !important;
	border: 1px solid #e5e5e5 !important;
}
.btn-group > .btn:first-child {
	margin-right: 0px;
}
.btn-group > .btn:focus,
.btn-group > .btn.focus {
	border: 1px solid #00a9e0;
	background-color: #005eb8;
	color: #ffffff;
}
.btn-group > .btn:focus + .dropdown-toggle,
.btn-group > .btn.focus + .dropdown-toggle {
	border-left: 1px solid #00a9e0;
}
.btn-group > .btn:active,
.btn-group > .btn.active {
	background-color: #2676c3;
	color: #ffffff;
}
.btn-group > .btn:hover {
	border-color: #005eb8;
	border-right-color: #ffffff;
}
.btn-group > .btn:hover + .dropdown-toggle {
	border-left: 1px solid #ffffff;
}
.btn-group > .btn + .dropdown-toggle {
	width: 30px;
	border-left: 1px solid #ffffff;
}
.btn-group > .btn + .dropdown-toggle:focus,
.btn-group > .btn + .dropdown-toggle.focus {
	border-left: 1px solid #00a9e0;
	background-color: #005eb8;
}
.btn-group > .btn + .dropdown-toggle:active,
.btn-group > .btn + .dropdown-toggle.active,
.btn-group > .btn + .dropdown-toggle:hover {
	border-color: #00a9e0;
	border-left-color: #ffffff;
	background-color: #2676c3;
}
.btn-group.open a {
	background-color: #005eb8;
}
.btn-group.open a:hover {
	background-color: #2676c3;
}
.btn-group.open .dropdown-menu {
	border-radius: 0px;
	border: 1px solid #00a9e0;
	padding: 0px;
}
.btn-group.open .dropdown-menu li a {
	text-decoration: none;
	background-color: #ffffff;
	color: #333333;
	font-weight: normal;
}
.btn-group.open .dropdown-menu li a:hover {
	background-color: #005eb8;
	color: #ffffff;
}
.btn-group.open .dropdown-menu li a.disabled {
	color: #a6a6a8;
	background-color: #e5e5e5;
	cursor: default;
	pointer-events: none;
}
.btn-group.open .dropdown-menu li a.disabled:hover {
	color: #a6a6a8;
	cursor: default;
	background-color: #e5e5e5;
}
.caret {
	border: none;
	width: 11px;
	height: 7px;
	background-image: url("#{resource['img/icons.png']}");
}
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	display: none;
}
.checkbox label,
.checkbox-inline label {
	font-weight: 400;
}
.checkbox label span,
.checkbox-inline label span {
	display: inline-block;
	padding-left: 20px;
	background-image: url("#{resource['img/icons.png']}");
	background-repeat: no-repeat;
	background-position: 0 -15px;
}
.checkbox label input[type="checkbox"]:disabled + span,
.checkbox-inline label input[type="checkbox"]:disabled + span {
	background-position: 0 -30px;
}
.checkbox label input[type="checkbox"]:disabled:checked + span,
.checkbox-inline label input[type="checkbox"]:disabled:checked + span {
	background-position: 0 -47px;
}
.checkbox label input[type="checkbox"]:checked + span,
.checkbox-inline label input[type="checkbox"]:checked + span {
	background-position: 0 -64px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"] {
	display: none;
}
.radio label,
.radio-inline label {
	font-weight: 400;
}
.radio label span,
.radio-inline label span {
	display: inline-block;
	padding-left: 20px;
	padding-bottom: 1px;
	background-image: url("#{resource['img/icons.png']}");
	background-repeat: no-repeat;
	background-position: 0 -79px;
}
.radio label input[type="radio"]:disabled + span,
.radio-inline label input[type="radio"]:disabled + span {
	background-position: 0 -95px;
}
.radio label input[type="radio"]:disabled:checked + span,
.radio-inline label input[type="radio"]:disabled:checked + span {
	background-position: 0 -111px;
}
.radio label input[type="radio"]:checked + span,
.radio-inline label input[type="radio"]:checked + span {
	background-position: 0 -127px;
}
.form-group .control-label {
	margin-left: 10px;
}
.form-horizontal .control-label {
	text-align: left;
	font-weight: normal;
	margin: 0px;
}
.form-group {
	margin-left: 10px;
	margin-right: 10px;
}
.form-control {
	height: 25px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #c7c9c7;
	color: #333333;
	border-radius: 2px;
	font-size: 12px;
	line-height: 1.4;
	box-shadow: none;
}
input[type="text"].form-control,
input[type="email"].form-control,
input[type="password"].form-control,
input[type="tel"].form-control,
input[type="date"].form-control,
input[type="file"].form-control,
input[type="number"].form-control,
input[type="time"].form-control,
input[type="url"].form-control,
select.form-control {
	padding: 0px 5px;
}
.form-control:focus {
	border-color: #00a9e0;
	box-shadow: none;
}
select.form-control:focus {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
select[multiple].form-control {
	padding: 5px;
}
.form-control[disabled],
.form-control[readonly] {
	background-color: #e5e5e5;
	color: #a6a6a8;
	cursor: default;
	border-color: #c7c9c7;
	box-shadow: none;
}
.form-control::-webkit-input-placeholder {
	font-size: 12px;
	color: #a6a6a8;
}
.form-control:-moz-placeholder {
	font-size: 12px;
	color: #a6a6a8;
}
.form-control::-moz-placeholder {
	font-size: 12px;
	color: #a6a6a8;
}
.form-control:-ms-input-placeholder {
	font-size: 12px;
	color: #a6a6a8;
}
.has-error .form-control,
.has-error .form-control:focus {
	border: 2px solid #ce0058;
	box-shadow: none;
}
.has-error .control-label {
	color: #ce0058;
}
.form-group.required .control-label:before {
	content: "*";
	color: #ce0058;
	margin-left: -8px;
}
.list-group {
	margin-bottom: 0px;
}
.list-group.active .list-group-item {
	border: 1px solid #00a9e0;
	border-top: 0px;
	border-bottom: 0px;
}
.list-group.active .list-group-item:first-child {
	border-top: 1px solid #00a9e0;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.list-group.active .list-group-item:last-child {
	border-bottom: 1px solid #00a9e0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.list-group.active .list-group-item:hover {
	background-color: #2676c3;
	color: #ffffff;
	border-color: #00a9e0;
}
.list-group > a {
	text-decoration: none;
	color: #333333;
}
.list-group .list-group-item {
	border: 1px solid #c7c9c7;
	border-top: 0px;
	border-bottom: 0px;
}
.list-group .list-group-item.active {
	background-color: #ffb549;
	color: #333333;
}
.list-group .list-group-item.disabled,
.list-group .list-group-item.disabled:hover {
	color: #a6a6a8;
	background-color: #e5e5e5;
	pointer-events: none;
}
.list-group .list-group-item:first-child {
	border-top: 1px solid #c7c9c7;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.list-group .list-group-item:last-child {
	border-bottom: 1px solid #c7c9c7;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.list-group .list-group-item:hover {
	background-color: #2676c3;
	color: #ffffff;
	border-color: #c7c9c7;
}
.nav.nav-tabs {
	margin: 10px 10px 0 10px;
}
.nav.nav-tabs > li > a {
	font-size: 12px;
	padding-top: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #005eb8;
	margin: 0px;
	border-radius: 0px;
	border: 1px solid #c7c9c7;
	background-color: #e5e5e5;
	margin-left: -1px;
}
.nav.nav-tabs > li > a:hover {
	color: #ffffff;
	background-color: #2676c3;
}
.nav.nav-tabs > li:first-child > a {
	margin-left: 0px;
}
.nav.nav-tabs > li.active > a {
	border-bottom-color: transparent;
	background-color: #ffffff;
	color: #005eb8;
}
.nav.nav-tabs > li.disabled > a {
	color: #a6a6a8;
	cursor: default;
	background-color: #e5e5e5;
	pointer-events: none;
}
.tab-content {
	margin: 0 10px 10px 10px;
	border-left: 1px solid #c7c9c7;
	border-right: 1px solid #c7c9c7;
	border-bottom: 1px solid #c7c9c7;
	padding: 10px;
	background-color: #ffffff;
}
.panel-group .panel {
	border-radius: 0px;
}
.panel-group .panel.panel-default {
	margin: 0px;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top: 0;
}
.panel-default > .panel-heading {
	background-color: #ffffff;
	color: #005eb8;
	padding: 0px;
}
.panel-default > .panel-heading .accordion-toggle:not(.collapsed) {
	background: #ffffff url("#{resource['img/Accordion_Open.png']}") 98% center no-repeat;
	width: 100%;
}
.panel-default > .panel-heading .accordion-toggle.collapsed {
	background: #e5e5e5 url("#{resource['img/Accordion_Close.png']}") 98% center no-repeat;
	width: 100%;
}
.panel-default > .panel-heading:hover {
	background-color: #ffffff;
	cursor: pointer;
	border-radius: 0;
	color: #005eb8;
}
.panel-default > .panel-heading:hover .accordion-toggle:not(.collapsed) {
	background: #ffffff url("#{resource['img/Accordion_Open.png']}") 98% center no-repeat;
	width: 100%;
}
.panel-default > .panel-heading:hover .accordion-toggle.collapsed {
	background: #d9d9d9 url("#{resource['img/Accordion_Close.png']}") 98% center no-repeat;
	width: 100%;
}
.panel-default > .panel-heading:hover .panel-title > a:not(.collapsed) {
	background-color: #ffffff;
}
.panel-default > .panel-heading:hover .panel-title > a.collapsed {
	background-color: #d9d9d9;
}
.panel-default > .panel-heading .panel-title > a {
	display: block;
	padding: 10px 10px;
}
.panel-default > .panel-heading .panel-title > a:not(.collapsed) {
	background-color: #ffffff;
}
.panel-default > .panel-heading .panel-title > a.collapsed {
	background-color: #e5e5e5;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top: 0;
}
.panel-default.disabled > .panel-heading,
.panel-default.disabled > .panel-heading:hover {
	background-color: #e5e5e5;
	color: #a6a6a8;
	cursor: default;
}
.panel-default.disabled > .panel-heading .accordion-toggle:not(.collapsed),
.panel-default.disabled > .panel-heading:hover .accordion-toggle:not(.collapsed) {
	background: #e5e5e5 url("#{resource['img/Accordion_Disabled_Open.png']}") 98% center no-repeat;
	width: 100%;
}
.panel-default.disabled > .panel-heading .accordion-toggle.collapsed,
.panel-default.disabled > .panel-heading:hover .accordion-toggle.collapsed {
	background: #e5e5e5 url("#{resource['img/Accordion_Disabled_Close.png']}") 98% center no-repeat;
	width: 100%;
}
.panel-default.disabled > .panel-heading h4,
.panel-default.disabled > .panel-heading:hover h4 {
	font-style: italic;
}
.panel-title {
	font-size: 12px;
	line-height: 1.4;
	font-family: Verdana, sans-serif;
	font-weight: 700;
}
.panel-title a {
	text-decoration: none;
}
.panel-body {
	padding: 10px;
	background-color: #ffffff;
}
.breadcrumb {
	padding: 8px 15px;
	border-radius: 0px;
	background-color: #ffffff;
	border-bottom: 1px solid #c7c9c7;
	height: 31px;
	margin-bottom: 10px;
}
.breadcrumb li {
	font-size: 12px;
}
.breadcrumb li a {
	text-decoration: none;
}
.breadcrumb li.active {
	font-weight: bold;
	color: #333333;
}
.breadcrumb > li + li:before {
	content: url("#{resource['img/Breadcrumb_Arrow.png']}");
	padding: 0 15px;
}
.page-header {
	padding: 0px;
	border: 0px;
	margin: 0px;
}
.page-header.broad-version {
	height: 70px;
	line-height: 70px;
	background: url("#{resource['img/Header_Logo_Amadeus_normal.png']}") #ffffff 25px center no-repeat;
}
.page-header.broad-version .app-name {
	font-size: 16px;
	padding-left: 242px;
	margin-right: 25px;
}
.page-header.broad-version.co-branding .co-branding-logo {
	height: 28px;
	min-width: 112px;
	display: inline-block;
	background: url("#{resource['img/Co_Branding_Logo.jpg']}") #ffffff 25px center no-repeat;
	position: relative;
	top: 9px;
	left: 242px;
	padding-left: 25px;
	border-left: 1px solid #c7c9c7;
}
.page-header.broad-version.co-branding .app-name {
	font-size: 16px;
	padding-left: 242px;
	margin-right: 25px;
}
.page-header.thin-version {
	height: 40px;
	line-height: 40px;
	background: url("#{resource['img/Header_Logo_Amadeus_thin.png']}") #ffffff 15px center no-repeat;
}
.page-header.thin-version .app-name {
	font-size: 14px;
	padding-left: 141px;
	margin-right: 15px;
}
.page-header.thin-version.co-branding .co-branding-logo {
	height: 17px;
	min-width: 108px;
	display: inline-block;
	background: url("#{resource['img/Co_Branding_Logo_thin.jpg']}") #ffffff 15px center no-repeat;
	position: relative;
	top: 4px;
	left: 141px;
	padding-left: 15px;
	border-left: 1px solid #c7c9c7;
}
.page-header.thin-version.co-branding .app-name {
	font-size: 14px;
	padding-left: 141px;
	margin-right: 15px;
}
#footer {
	background-color: #ffffff;
}
#footer .container {
	width: 100%;
	border-top: 1px solid #c7c9c7;
}
#footer .container p > a {
	text-decoration: none;
}
.fieldset-container {
	background-color: #ffffff;
	padding-bottom: 1px;
}
.fieldset-label {
	padding: 0 10px 5px 10px;
	padding-top: 10px;
	display: block;
	background-color: #ffffff;
	margin: 0;
}
fieldset {
	background-color: #f7f7fa;
	border-top: 1px solid #c7c9c7;
	padding: 10px;
	margin: 0 10px 10px 10px;
}
.navbar {
	min-height: 35px;
	max-height: 35px;
	border-radius: 0px;
}
.navbar.navbar-default.primary-menu {
	background-color: #005eb8;
	border: 0px;
}
.navbar.navbar-default.primary-menu .navbar-brand {
	background: url("#{resource['img/Menu_Primary_Home.png']}") #005eb8 center center no-repeat;
	cursor: pointer;
	line-height: 35px;
	height: 35px;
	padding: 0px 20px 15px 20px;
}
.navbar.navbar-default.primary-menu .navbar-brand:hover {
	background: url("#{resource['img/Menu_Primary_Home_Hover.png']}") #2676c3 center center no-repeat;
}
.navbar.navbar-default.primary-menu .navbar-nav li a {
	line-height: 35px;
	height: 35px;
	padding-top: 0px;
	color: #ffffff;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
.navbar.navbar-default.primary-menu .navbar-nav li a:hover {
	background-color: #2676c3;
}
.navbar.navbar-default.primary-menu .navbar-nav li.active a {
	color: #005eb8;
	background-color: #ffffff;
	cursor: default;
}
.navbar.navbar-default.primary-menu .navbar-nav li.dropdown.disabled a {
	pointer-events: none;
	cursor: default;
	color: #7faedb;
}
.navbar.navbar-default.primary-menu .navbar-nav li.dropdown.disabled a:hover {
	background-color: #005eb8;
}
.navbar.navbar-default.primary-menu .navbar-nav li.open a {
	background-color: #005eb8;
}
.navbar.navbar-default.primary-menu .navbar-nav li.open a:hover {
	background-color: #2676c3;
}
.navbar.navbar-default.primary-menu .navbar-nav li.open .dropdown-menu li a {
	background-color: #ffffff;
	color: #333333;
	font-weight: normal;
}
.navbar.navbar-default.primary-menu .navbar-nav li.open .dropdown-menu li a:hover {
	background-color: #005eb8;
	color: #ffffff;
}
.navbar.navbar-default.primary-menu .navbar-nav li.open .dropdown-menu li a.disabled {
	color: #a6a6a8;
	cursor: default;
	pointer-events: none;
}
.navbar.navbar-default.primary-menu .navbar-nav li.open .dropdown-menu li a.disabled:hover {
	color: #a6a6a8;
	cursor: default;
	background-color: #ffffff;
}
.stepbar-container {
	background-color: #ffffff;
}
.stepbar {
	height: 30px;
}
.stepbar ul {
	list-style-type: none;
	width: 100%;
	display: block;
	padding: 0px;
}
.stepbar li {
	float: left;
	padding: 0px;
	margin-right: 5px;
}
.stepbar.grey li {
	background: #f7f7fa;
}
.stepbar.orange li {
	background: #ffdaa4;
}
.stepbar.clickable.grey li,
.stepbar.clickable.orange li,
.stepbar.clickable.grey .active ~ li,
.stepbar.clickable.orange .active ~ li {
	background-color: #e5e5e5;
}
.stepbar.clickable.grey li:hover,
.stepbar.clickable.orange li:hover {
	background-color: #d9d9d9;
}
.stepbar li a {
	display: block;
	padding: 0 5px 0 12px;
	float: left;
	font-size: 12px;
	line-height: 30px;
	z-index: 2;
}
.stepbar a,
.stepbar a:hover,
.stepbar a:focus,
.stepbar a:active,
.stepbar.clickable .active a,
.stepbar.clickable .active a:hover {
	text-decoration: none;
	color: #333333;
	cursor: default;
}
.stepbar.clickable a,
.stepbar.clickable a:hover,
.stepbar.clickable a:focus,
.stepbar.clickable a:active,
.stepbar.clickable .active ~ li a {
	color: #005eb8;
	cursor: pointer;
	font-weight: 700;
}
.stepbar.clickable.grey .disabled,
.stepbar.clickable.orange .disabled {
	background: #e5e5e5 !important;
}
.stepbar.clickable .disabled a {
	color: #a6a6a8 !important;
	cursor: default !important;
	font-style: italic;
}
.stepbar li::before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 0 15px 7px;
	position: relative;
	top: 50%;
	display: block;
	float: left;
	z-index: 3;
	left: 0;
}
.stepbar.grey li::before {
	border-color: transparent transparent transparent #ffffff;
}
.stepbar.orange li::before {
	border-color: transparent transparent transparent #ffffff;
}
.stepbar li::after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 0 15px 7px;
	z-index: 4;
	position: relative;
	right: -7px;
	top: 50%;
	display: block;
	float: left;
}
.stepbar.grey li::after {
	border-color: transparent transparent transparent #f7f7fa;
}
.stepbar.orange li::after {
	border-color: transparent transparent transparent #ffdaa4;
}
.stepbar.clickable li::after,
.stepbar.clickable.orange li::after,
.stepbar.clickable .active ~ li::after,
.stepbar.clickable.orange .active ~ li::after {
	border-color: transparent transparent transparent #e5e5e5;
}
.stepbar.clickable li:hover::after,
.stepbar.clickable .active ~ li:hover::after {
	border-color: transparent transparent transparent #d9d9d9;
}
.stepbar li:first-child a {
	padding-left: 15px;
}
.stepbar li:first-child::before {
	border: 0;
}
.stepbar li:last-child a {
	padding-right: 15px;
}
.stepbar li:last-child::after {
	border: 0;
}
/*.stepbar .active{*/
.stepbar.grey .active,
.stepbar.clickable.grey .active,
.stepbar.clickable.grey .active:hover {
	background: #ffffff;
	color: #333333;
	font-weight: bold;
}
.stepbar.grey .active::after,
.stepbar.clickable.grey .active::after,
.stepbar.clickable.grey .active:hover::after {
	border-color: transparent transparent transparent #ffffff;
}
.stepbar.orange .active,
.stepbar.clickable.orange .active,
.stepbar.clickable.orange .active:hover {
	background: #ffb549;
	color: #333333;
	font-weight: bold;
}
.stepbar.orange .active::after,
.stepbar.clickable.orange .active::after,
.stepbar.clickable.orange .active:hover::after {
	border-color: transparent transparent transparent #ffb549;
}
.stepbar.grey .active ~ li {
	background: #e5e5e5;
}
.stepbar.orange .active ~ li {
	background: #f7f7fa;
}
.stepbar .active ~ li a {
	color: #333333;
}
.stepbar.grey .active ~ li::after {
	border-color: transparent transparent transparent #e5e5e5;
}
.stepbar.orange .active ~ li::after {
	border-color: transparent transparent transparent #f7f7fa;
}
.modal-content {
	border-radius: 0;
}
.modal-header {
	height: 40px;
	padding: 8px 8px 8px 10px;
	background-color: #e5e5e5;
}
.modal-title {
	font-size: 12px;
	font-weight: 700;
	font-family: Verdana, sans-serif;
	line-height: 2;
}
.modal-body {
	padding: 20px 10px;
}
.modal-body.information-icon {
	padding-left: 100px;
	background: #ffffff url("#{resource['img/Popup_Information.png']}") left 35px center no-repeat;
}
.modal-body.confirmation-icon {
	padding-left: 100px;
	background: #ffffff url("#{resource['img/Popup_Confirmation.png']}") left 35px center no-repeat;
}
.modal-body.warning-icon {
	padding-left: 100px;
	background: #ffffff url("#{resource['img/Popup_Warning.png']}") left 35px center no-repeat;
}
.modal-body.error-icon {
	padding-left: 100px;
	background: #ffffff url("#{resource['img/Popup_Error.png']}") left 35px center no-repeat;
}
.modal-footer {
	height: 50px;
	padding: 10px;
	background-color: #f7f7fa;
	border-top: 1px solid #e7e7e7;
}
.close {
	line-height: 1.4;
	font-size: 19px;
	color: #005eb8;
	font-weight: 700;
	filter: alpha(opacity=100);
	opacity: 1;
}
.close:hover,
.close:focus {
	color: #2676c3;
	opacity: 1;
	filter: alpha(opacity=100);
}
